.toc__list:before {
  content: "👉 Table of Contents";
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

#toc.toc__list {
  border: 2px solid #eee;
  border-radius: 4px;
  line-height: 1.8rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

ul.toc__sublist {
  margin: 0;
  margin-left: 0.5rem;
  & li {
    padding-left: 0;
  }
}

.toc-h2:first-child {
  margin-top: 1rem;
}

#toc a {
  color: #BE185D;
  text-decoration: underline;
}

#toc a:hover {
  color: #9D174D;
}